*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face{
	font-family: Viga-Regular;
	src:url(font/Viga/Viga-Regular.ttf);
}

@font-face{
	font-family: work-sans-medium-italic;
	src:url(font/Work_Sans/WorkSans-MediumItalic.ttf);
}

@font-face{
	font-family: work-sans-regular;
	src:url(font/Work_Sans/WorkSans-Regular.ttf);
}

#contenedor{
	/* width: 100%;
	height: fit-content; */
	background: white;
}

header{
	width: 100%;
	background:linear-gradient(180deg, #435D74 0%, #36A8CD 100%);
}
.navbar{
	width: 80%;
	margin: 0 auto;
	background:linear-gradient(180deg, #435D74 0%, #36A8CD 100%);

}
.navbar-brand img{
	height: 50px;
	width: 70px;
}
.navbar-brand{
	color: white;
}
.navbar-brand:hover{
	color: #FEE2A2;
}
.nav-link{
	text-align: center;
	color: white;
} 
.nav-link:hover, .nav-link:focus{
	color: #FEE2A2;
}

#svg-menu{
	fill: white;
}
.navbar-toggler:focus{
	border: solid 2px white;
	box-shadow: none;
}
#navbarNavDropdown{
	justify-content: end;
}

.nav-item{
	margin-left: 20px;
	justify-content: left;
}
#boton-contacto{
	width: 120px;
	background: #FEE2A2;
	border-radius: 5px;
	color: #435D74;
	text-align: center;
	font-weight: 500;
	margin: 0 auto;
}
#boton-contacto:hover{
	background: white;
}
/*fin header*/

/*Contenido*/
/*Banner*/
#banner{
	background: #DCDFE1;
}
#banner-conocenos{
	height: 200px;
	background: url(img/conocenos/banner-2.png);
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	display: flex;
}

#texto-banner{
	width: 100%;
	height: fit-content;
	margin: auto 0;
}

#texto-banner h1{
	width: 100%;
	height: fit-content;
	font-size: 3rem;
	font-family: Viga-Regular;
	color: #336593;
}

#texto-banner h4{
	width: 100%;
	height: fit-content;
	font-size: 2rem;
	font-family: Viga-Regular;
	color: #336593;
}
/*Banner*/

/*1er bloque*/
#conocenos-img img{
	width: 100%;
	height: 350px;
	object-fit: cover;
	border-radius: 10px;
}
#conocenos-titulo{
	display: block;
	margin: auto 0;
}

#conocenos-titulo h4{
	font-family: Viga-Regular;
	font-size: 1.8rem;
	color: #C0638D;
}

#conocenos-titulo h6{
	font-style: italic;
	color: #C0638D;
}

#conocenos-txt p{
	text-align: justify;
	font-family: work-sans-regular;
}

#conocenos-icon{
	display: flex;
	justify-content: center;
}

#conocenos-icon img{
	width: 80px;
	object-fit: cover;
}
/*1er bloque*/

#titulo-divisor h1{
	font-family: Viga-Regular;
	font-size: 2.2rem;
	color: #C0638D;
}

/*nuestro equipo*/

.card{
	background: #FEE2A2;
}

.card-body h5{
	font-family: Viga-Regular;
	font-size: 1.2rem;
	color: #435D74;
}

.card-body p{
	text-align: justify;
	font-family: work-sans-regular;
}

/*nuestro equipo*/

/*testimonio*/
#testimonio h5{
	width: 80%;
	font-family: work-sans-medium-italic;
}

#testimonio img{
	height: 100px;
	width: 100px;
	object-fit: cover;
	background-position: center;
	border-radius: 50%;
	margin: 10px 0;
}

#testimonio h6{
	width: 60%;
	font-family: work-sans-regular;
	font-size: 1.2rem;
}
/*testimonio*/

/*2do bloque*/
#icon-subseccion{
	width: 100px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
}

#icon-subseccion img{
	width: 100%;
	object-fit: cover;
}

#subseccion-info h4{
	font-family: Viga-Regular;
	font-size: 1.5rem;
	color: #C0638D;
}
#subseccion-info p{
	font-family: work-sans-regular;
	text-align: justify;
}

/*2do bloque*/

/*Contenido*/

/*footer*/
footer{
	/* width: 100%;
	height: 180px; */
	background: linear-gradient(180deg, #435D74 0%, #36A8CD 100%);
	/* display: flex;
	justify-content: center;
	align-items: center; */
}

#footer-container{
	height: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
#redes-sociales{
	width: 100%;
	display: flex;
	justify-content: center;
}
.icono-red{
	width: 2.5em;
	height: 2.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: #FEE2A2;
	margin: 0 20px;
}

.icono-red:hover{
	background: white;
	transition: 0.5s;

}

.icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  stroke-width: 0;
  stroke: currentColor;
  fill: #435D74;
}

.list-inline{
	width: 60%;
	text-align: center;
	display: flex;
	justify-content: space-between;
	margin: 15px 0;
}
.list-inline-item a{
	font-family: sans-serif;
	font-size: 1.20rem;
	text-decoration: none;
	color: white;
} 

.list-inline-item a:hover{
	color: #FEE2A2;
}

#footer-container h6{
	width: 100%;
	margin-bottom: 0;
	font-family: work-sans-regular;
	text-align: center;
	color: white;
}
/*footer*/


/*mediaquery*/

/*banner*/
@media screen and (max-width: 1199px){
	#conocenos-img{
		display: flex;
		align-items: center;
	}
	#conocenos-img img{
		width: 100%;
		height: 100%;

	}
	#info-conocenos{
		padding: 0;
	}
}
@media screen and (max-width: 900px){
	#banner-conocenos{
		height: 150px;
	}
	#texto-banner h1{
		font-size: 2.5rem;
	}
	#texto-banner h4{
		font-size: 1.5rem;
	}
	#conocenos-seccion{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}
	#info-conocenos{
		width: 90%;
		margin: 0;
	}
	#conocenos-img{
		width: 95%;
		height: 250px;
	}
	#titulo-row{
		padding-top: 1rem!important;
	}
	#titulo-divisor h1{
		font-size: 1.8rem;
	}
	#subseccion-info h4{
		font-size: 1.2rem;
		text-align: center;
	}
	#subseccion-info{
		width: 90%;
	}
}

@media screen and (max-width: 810px){
	.list-inline{
		width: 80%;
	}
	#cuarta-subseccion{
		padding-top: 0px!important;
	}
}
@media screen and (max-width: 615px){

	.navbar-brand{
		font-size: 1rem;
	}
	.list-inline{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.list-inline-item{
		width: 350px;
	}
	#texto-banner h1{
		font-size: 2rem;
	}
	#texto-banner h4{
		font-size: 1.3rem;
	}
	#subseccion-info{
		width: 90%;
	}
	#testimonio h5{
		font-size: 1rem;
	}
	#testimonio h6{
		font-size: 0.9rem;
	}

}
@media screen and (max-width: 580px){
	#encabezado-conocenos{
		display: flex;
		flex-wrap: wrap;
	}
	#conocenos-titulo h4{
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 415px){
	.navbar-brand{
		font-size: 0;
	}

	#banner-conocenos{
		height: 100px;
	}
	#texto-banner h1{
		font-size: 1.5rem;
	}
	#texto-banner h4{
		font-size: 1rem;
	}
	#conocenos-titulo h4{
		font-size: 1rem;
	}
	#conocenos-titulo h6{
		font-size: 0.8rem;
	}
	#titulo-divisor h1{
		font-size: 1.5rem;
	}
	#cuarta-subseccion{
		padding-right: 1rem!important;
		padding-left: 1rem!important;
	}
}

@media screen and (max-width: 380px){
	#conocenos-icon img{
		max-width: 80px;
		width: 100%;
		height: fit-content;
		background-size: contain;
	}
}

/*mediaquery*/