*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face{
	font-family: Viga-Regular;
	src:url(font/Viga/Viga-Regular.ttf);
}

@font-face{
	font-family: work-sans-medium-italic;
	src:url(font/Work_Sans/WorkSans-MediumItalic.ttf);
}

@font-face{
	font-family: work-sans-regular;
	src:url(font/Work_Sans/WorkSans-Regular.ttf);
}

#contenedor{
	/* width: 100%;
	height: fit-content; */
	background: white;
}
/*Header*/
header{
	width: 100%;
	background:linear-gradient(180deg, #435D74 0%, #36A8CD 100%);
}
.navbar{
	width: 80%;
	margin: 0 auto;
	background:linear-gradient(180deg, #435D74 0%, #36A8CD 100%);

}
.navbar-brand img{
	height: 50px;
	width: 70px;
}
.navbar-brand{
	color: white;
}
.navbar-brand:hover{
	color: #FEE2A2;
}
.nav-link{
	text-align: center;
	color: white;
} 
.nav-link:hover, .nav-link:focus{
	color: #FEE2A2;
}

#svg-menu{
	fill: white;
}
.navbar-toggler:focus{
	border: solid 2px white;
	box-shadow: none;
}
#navbarNavDropdown{
	justify-content: end;
}

.nav-item{
	margin-left: 20px;
	justify-content: left;
}
#boton-contacto{
	width: 120px;
	background: #FEE2A2;
	border-radius: 5px;
	color: #435D74;
	text-align: center;
	font-weight: 500;
	margin: 0 auto;
}
#boton-contacto:hover{
	background: white;
}
/*Header*/

/*Banner*/
#banner{
	background: #E8CBAF;
	width: 100%;
}
#banner-conocenos{
	height: 200px;
	background: url(img/tratamientos/banner-4.png);
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	display: flex;
}

#texto-banner{
	width: 100%;
	height: fit-content;
	margin: auto 0;
}

#texto-banner h1{
	width: 100%;
	height: fit-content;
	font-size: 3rem;
	font-family: Viga-Regular;
	color: #336593;
}

#texto-banner h4{
	width: 100%;
	height: fit-content;
	font-size: 2rem;
	font-family: Viga-Regular;
	color: #336593;
}
/*Banner*/

/*cards*/
.card-title{
	font-family: Viga-Regular;
	color: #336593;
	text-align: center;
}
.card-text{
	font-family: work-sans-regular;
	text-align: justify;
}
.card-body{
	background: #FEE2A2;
}
/*cards*/

#titulo-section h1{
	font-family: Viga-Regular;
	font-family: 2rem;
	text-align: center;
	color: #C0638D;
}
/*testimonio*/
.testimonio-img{
	height: 100px;
	width: 100px;
	object-fit: contain;
}

.testimonio-img img{
	height: 100%;
	width: 100%;
	object-fit: contain;
}

/*testimonio*/

/*footer*/
footer{
	/* width: 100%;
	height: 180px; */
	background: linear-gradient(180deg, #435D74 0%, #36A8CD 100%);
	/* display: flex;
	justify-content: center;
	align-items: center; */
}

#footer-container{
	height: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
#redes-sociales{
	width: 100%;
	display: flex;
	justify-content: center;
}
.icono-red{
	width: 2.5em;
	height: 2.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: #FEE2A2;
	margin: 0 20px;
}

.icono-red:hover{
	background: white;
	transition: 0.5s;

}

.icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  stroke-width: 0;
  stroke: currentColor;
  fill: #435D74;
}

.list-inline{
	width: 60%;
	text-align: center;
	display: flex;
	justify-content: space-between;
	margin: 15px 0;
}
.list-inline-item a{
	font-family: sans-serif;
	font-size: 1.20rem;
	text-decoration: none;
	color: white;
} 

.list-inline-item a:hover{
	color: #FEE2A2;
}

#footer-container h6{
	width: 100%;
	margin-bottom: 0;
	font-family: work-sans-regular;
	text-align: center;
	color: white;
}
/*footer*/


/*mediaquery*/

@media screen and (max-width: 900px){
	#banner-conocenos{
		height: 150px;
	}
	#texto-banner h1{
		font-size: 2.5rem;
	}
	#texto-banner h4{
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 810px){
	.list-inline{
		width: 80%;
	}
}
@media screen and (max-width: 615px){
	.navbar-brand{
		font-size: 1rem;
	}
	.row{
		margin-left: 0;
		margin-right: 0;
	}
	.list-inline{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.list-inline-item{
		width: 350px;
	}
	#texto-banner h1{
		font-size: 2rem;
	}
	#texto-banner h4{
		font-size: 1.3rem;
	}
	.py-5{
		padding-top: 2rem!important;
		padding-bottom: 2rem!important;
	}
}
@media screen and (max-width: 415px){
	.navbar-brand{
		font-size: 0;
	}
	#banner-conocenos{
		height: 100px;
	}
	#texto-banner h1{
		font-size: 1.5rem;
	}
	#texto-banner h4{
		font-size: 1rem;
	}
	.px-5{
		padding-right: 1rem!important;
		padding-left: 1rem!important;
	}

}

/*mediaquery*/